<% if (isLogged == true) { %>
<form action="/card" method="POST">
    <!-- <input type="hidden" name="_csrf" value="<%= //csrfToken %>"/> -->
    <input type="hidden" name="id" value="<%= id %>"/>
    <button type="submit" class="btn">Add To Card</a>
</form>
<% } %> 
