<!-- import header file -->
<%- include('includes/header.ejs') %> 
    <!-- css files -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- import navigation file -->
    <%- include('includes/navigation.ejs') %> 

    <div class="not-found">
        <h1>404 | Page is not found :(</h1>
    </div>

<!-- import footer file -->
<%- include('includes/footer.ejs') %> 